@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  html {
    @apply font-sans;
  }
}

@layer base {
  html {
    color-scheme: light dark;
  }

  * {
    @apply border-gray-200 dark:border-gray-800;
  }

  html,
  body {
    font-family:
      "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-200;
  }

  .using-mouse * {
    outline: none !important;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --text-micro: calc(0.6825rem * var(--font-scale));
  --text-micro--line-height: calc(1 / 0.6875);
  --text-micro-plus: calc(var(--text-micro) + 1px);
  --text-micro-plus--line-height: calc(1 / 0.6875);
  --text-xs: calc(0.75rem * var(--font-scale));
  --text-xs--line-height: calc(1 / 0.75);
  --text-xs-plus: calc(var(--text-xs) + 1px);
  --text-xs-plus--line-height: calc(1 / 0.75);
  --text-sm: calc(0.875rem * var(--font-scale));
  --text-sm--line-height: calc(1.25 / 0.875);
  --text-sm-plus: calc(var(--text-sm) + 1px);
  --text-sm-plus--line-height: calc(1.25 / 0.875);
  --text-base: calc(1rem * var(--font-scale));
  --text-base--line-height: calc(1.5 / 1);
  --text-base-plus: calc(var(--text-base) + 1px);
  --text-base-plus--line-height: calc(1.5 / 1);
  --text-lg: calc(1.125rem * var(--font-scale));
  --text-lg--line-height: calc(1.75 / 1.125);
  --text-lg-plus: calc(var(--text-lg) + 1px);
  --text-lg-plus--line-height: calc(1.75 / 1.125);
  --text-xl: calc(1.25rem * var(--font-scale));
  --text-xl--line-height: calc(1.75 / 1.25);
  --text-xl-plus: calc(var(--text-xl) + 1px * var(--font-scale));
  --text-xl-plus--line-height: calc(1.75 / 1.25);
  --text-2xl: calc(1.5rem * var(--font-scale));
  --text-2xl--line-height: calc(2 / 1.5);
  --text-2xl-plus: calc(var(--text-2xl) + 1px * var(--font-scale));
  --text-2xl-plus--line-height: calc(2 / 1.5);

  --font-sans: "Inter Variable", sans-serif;

  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

  --shadow-border: var(--shadow-border-val);
  --shadow-popup-border: var(--shadow-popup-border-val);
}

:root {
  --radius: 0.5rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1861 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1861 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.995 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.58 0.22 27);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.995 0 0);
  --sidebar-foreground: oklch(0.1861 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.995 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.1861 0 0);

  --shadow-border-val:
    0 0 0 1px oklch(0.2562 0 0 / 8%), 0 1px 2px oklch(0.2562 0 0 / 4%),
    0 3px 4px -1px oklch(0.2562 0 0 / 5%);
  --shadow-popup-border-val:
    0 0 0 1px oklch(0.2562 0 0 / 8%), 0 1px 10px oklch(0.2562 0 0 / 8%),
    0 3px 20px -1px oklch(0.2562 0 0 / 5%);
}

.dark {
  --background: oklch(0.1861 0 0);
  --foreground: oklch(0.995 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.995 0 0);
  --popover: oklch(0.2307 0 0);
  --popover-foreground: oklch(0.995 0 0);
  --primary: oklch(0.87 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.271 0 0);
  --secondary-foreground: oklch(0.995 0 0);
  --muted: oklch(0.241 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.271 0 0);
  --accent-foreground: oklch(0.995 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.1526 0 0);
  --sidebar-foreground: oklch(0.995 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.995 0 0);
  --sidebar-accent: oklch(0.241 0 0);
  --sidebar-accent-foreground: oklch(0.995 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --shadow-border-val:
    0 0 0 1px oklch(1 0 0 / 10%), 0 1px 2px oklch(0 0 0 / 20%),
    0 3px 4px -1px oklch(0 0 0 / 25%);
  --shadow-popup-border-val:
    0 0 0 1px oklch(1 0 0 / 12%), 0 1px 8px oklch(0 0 0 / 20%),
    0 3px 8px -1px oklch(0 0 0 / 25%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground select-none;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 5px;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
  }
  html[data-cursor-pointer="false"] a,
  html[data-cursor-pointer="false"] button,
  html[data-cursor-pointer="false"] [role="button"],
  html[data-cursor-pointer="false"] [role="option"],
  html[data-cursor-pointer="false"] [role="switch"] {
    cursor: default;
  }
  html[data-cursor-pointer="true"] a,
  html[data-cursor-pointer="true"] button,
  html[data-cursor-pointer="true"] [role="button"],
  html[data-cursor-pointer="true"] [role="option"],
  html[data-cursor-pointer="true"] [role="switch"] {
    cursor: pointer;
  }
  html[data-font-size="xs"] {
    --font-scale: 0.9;
  }

  html[data-font-size="sm"] {
    --font-scale: 0.95;
  }

  html[data-font-size="default"] {
    --font-scale: 1;
  }

  html[data-font-size="lg"] {
    --font-scale: 1.075;
  }

  html[data-font-size="xl"] {
    --font-scale: 1.15;
  }

  [data-base-ui-inert] {
    pointer-events: none;
  }
}
